/* dashboard.css */

@import url(main.css);

* {
    font-size: 1.125rem;
}

#dashboardHolder {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#dashboardHolder > * {
    margin: 0.625rem;
    border-radius: 0.625rem;
}

h2 {
    font-size: 2.25rem;
}

#dueSoonContainer {
    background-color: var(--lecoder-gold, gold);
    background: linear-gradient(160deg, rgba(253, 185, 39, 0.60) 9.51%, #FDB927 86.81%);
    white-space: normal;
    /* height: fit-content; This line makes the box dynamic so that text will still fit regardless
    *  Supposedly not using this because we'll use javascript to only show a few things at once.
    */
}

#dueSoonContainer h3,
ul {
    margin-left: 1em;
    color: var(--lecoder-purple, purple);
}

#dueSoonContainer h2 {
    text-align: center;
    color: var(--lecoder-purple, purple);
}

#progressContainer {
    background-color: var(--lecoder-purple, purple);
    background: linear-gradient(180deg, rgba(179, 141, 211, 0.884) 0%, #552583 100%, purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-panel-progress strong {
    padding: 1em;
    color: white;
    font-size: large;
    width: 100%;
}

.left-panel-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}

.progress-container {
    position: relative;
    width: 50%;
}

.progress-circle {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.progress {
    transition: stroke-dasharray 2s;
    animation: progressAnimation 2s forwards;
}

/* Change the value of the to: stroke-dash array 141.5
   for the length of the progress bar. The number is calculated
   by (percent of the circle covered * 283 (circumference) = length)*/
@keyframes progressAnimation {
    from {
        stroke-dasharray: 0 283;
        stroke-dashoffset: 0;
    }
    to {
        stroke-dasharray: 141.5 283;
        stroke-dashoffset: 0;
    }
}

#codeUpdateContainer {
    background-color: var(--lecoder-purple, purple);
    background: linear-gradient(180deg, rgba(179, 141, 211, 0.884) 0%, #552583 100%, purple);
    grid-column: span 2;
}

#codeUpdateWithButtons {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#codeUpdateContainer li,
#codeUpdateContainer > h2 {
    color: white;
    margin-left: 1em;
}

#codeUpdateButtons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}


