/* main.css */

/* Using Better CSS Layout*/
@import url(var.css);

* {
    font-family: 'Karla_regular';
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
}


/* Displays our buttons vertically*/
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 92%;
    background-color: var(--lecoder-purple, purple);
    font-size: 80%;
    text-align: center;
    
}

/* The div and h2 is the logo/name. All of the buttons are in the nav tag.*/
.sidebar nav{
  display: flex;
}

.sidebar nav a{
    display: block;
  }

.sidebar h2 {
    color: white;
}

/* Styles the buttons with the id "sideButtons"*/
.sideButton {
    /* style to default button */
    border: none;
    outline: none;
    background: none;
    /* width: 5%; Currently deciding width or having the size not be 5%.*/
    min-width: 6rem; /*Should stop sidebar from shrinking under 5.25rem (1px = 0.063rem )*/
    cursor: pointer;
    border-radius: 10px;

    /* Adding our style to buttons. Decided that we will have text under icons instead of a toggled sidebar*/
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    text-align: center;
	align-content: stretch;
    background-color: var(--lecoder-purple, purple);
    color: white;
    flex: 1;
    text-decoration: none;
}

.sideButton:hover      {
    background: var(
    --Linear-Laker-Gold,
    linear-gradient(160deg, rgba(253, 185, 39, 0.6) 9.51%, #fdb927 86.81%)
  );

  
}

.sideButton:focus    {
    background: var(
    --Linear-Laker-Gold,
    linear-gradient(160deg, rgba(253, 185, 39, 0.6) 9.51%, #fdb927 86.81%)
  );

  
}

header {
    display: grid;
    grid-template-columns: 5% 95%;
    background-color: var(--lecoder-purple, purple);
    text-align: center;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
}

header img {
    display: block;
    padding: auto;
    margin: auto;
    margin-left: 10px;
    width: 70%;
}
