/* main.css */

/* Using Better CSS Layout*/
@import url(var.css);

* {
    font-family: 'Karla_regular';
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
}

/* Displays our buttons vertically*/
.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--lecoder-purple, purple);
}

/* The div and h2 is the logo/name */
.sidebar div {
    display: flex;
  
/* The div and h2 is the logo/name. All of the buttons are in the nav tag.*/
.sidebar nav{
  display: flex;
}
}

.sidebar h2 {
    color: white;
}

/* Styles the buttons with the id "sideButtons"*/
.sideButton {
    /* style to default button */
    border: none;
    outline: none;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    /* adding our style to buttons */
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--lecoder-purple, purple);
    color: white;
    flex: 1;
}

.sideButton:hover {
    background-color: var(--lecoder-light-purple, pink);
}

.headerWithContent {
    height: 100vh;
    width: 80%;
}

header {
    background-color: var(--lecoder-purple, purple);
}

h1 {
    color: white;
    text-align: center;
    font-size: 48px;
    margin: 0;
}
