/* main.css Eric's branch */

/* Using Better CSS Layout*/
@import url(var.css);

* {
    font-family: 'Karla_regular';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    height: 100vh;
}


/* Displays our buttons vertically*/
.sidebar {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
    padding: 0;
    margin: 0;
    height: 91.1%;
    background-color: var(--lecoder-purple, purple);
    font-size: 100%;
    text-align: center;
    /* height: fit-content; */
}

/* The div and h2 is the logo/name. All of the buttons are in the nav tag.*/
.sidebar nav{
  display: flex;
}

.sidebar nav a{
    display: block;
  }

.sidebar h2 {
    color: white;
}

/* Styles the buttons with the id "sideButtons"*/
.sideButton {
     /* style to default button */
     border: none;
     outline: none;
     background: none;
     /* width: 5%; Currently deciding width or having the size not be 5%.*/
     min-width: 5.25rem; /*Should stop sidebar from shrinking under 5.25rem (1px = 0.063rem )*/
     cursor: pointer;
     border-radius: 10px;
 
     /* Adding our style to buttons. Decided that we will have text under icons instead of a toggled sidebar*/
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     align-content: stretch;

     /* background-color: var(--lecoder-purple, purple); */
     color: var(--lecoder-header-color, white);
     flex: 1;
     text-decoration: none;
     box-sizing: none;
}

.sideButton:hover {
    background: var(
    --Linear-Laker-Gold,
    linear-gradient(160deg, rgba(253, 185, 39, 0.6) 9.51%, #fdb927 86.81%)
  );

  
}

.sideButton:focus    {
    background: var(
    --Linear-Laker-Gold,
    linear-gradient(160deg, rgba(253, 185, 39, 0.6) 9.51%, #fdb927 86.81%)
  );

  
}

header {
    display: grid;
    grid-template-columns: 5% 95%;
    background-color: var(--lecoder-purple, purple);
    text-align: center;
}

header h1 {
    color: var(--lecoder-header-color);
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
}

header img {
    display: block;
    padding: auto;
    margin: auto;
    margin-left: 10px;
    width: 75%;
}

#themeSwitcher {
    grid-column-end: 3;
}

#themeSwitcher > fieldset {      
    border: 0;
    position: absolute;
    display: flex;
    flex-direction: row; /* affects whether vertical or horizontal*/
    gap: 2rem;
    width: fit-content;
    background-color: var(--lecoder-light-purple);
    padding: 1rem 1rem;
    top: 0.6rem;
    right: 0.6rem;
    border-radius: 50px;
    margin-inline: auto;
}

#themeSwitcher input[type="radio"] {
    appearance: none;
    width: .7rem;
    height: .7rem;
    outline: 3px solid;
    outline-offset: 3px;
    border-radius: 50%;
}

#themeSwitcher input[type="radio"]#laker {
    color: #552583;
}

#themeSwitcher input[type="radio"]#laker:checked {
    background-color: #552583;
}

#themeSwitcher input[type="radio"]#light {
    color: white;
}

#themeSwitcher input[type="radio"]#light:checked {
    background-color: white;
}

#themeSwitcher input[type="radio"]#dark {
    color: black;
}

#themeSwitcher input[type="radio"]#dark:checked {
    background-color: black;
}

#themeSwitcher input[type="radio"]#christmas {
    color: red;
}

#themeSwitcher input[type="radio"]#christmas:checked {
    background-color: rgb(3, 99, 11);
}

#themeSwitcher input[type="radio"]#triton {
    color: #182B49;
}

#themeSwitcher input[type="radio"]#triton:checked {
    background-color: #fdb927;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

:root:has(#laker:checked) {
    --lecoder-purple: #552583;
    --lecoder-gold: #fdb927;
    --lecoder-light-purple: #b67af3;
    --lecoder-light-gold: #EDDDA5;
    --lecoder-header-color: white;
    --lecoder-gradient-gold: linear-gradient(
        160deg,
        rgba(253, 185, 39, 0.6) 9.51%,
        #fdb927 86.81%
      );
    --lecoder-gradient-purple: linear-gradient(180deg, rgba(179, 141, 211, 0.884) 0%, #552583 100%, purple);
}

:root:has(#light:checked) {
    --lecoder-purple: rgba(194, 192, 192, 1);
    --lecoder-gold: #838383;
    --lecoder-light-purple: #838383;
    --lecoder-light-gold: black;
    --lecoder-header-color: black;
    --lecoder-gradient-gold: linear-gradient(160deg, #c2c0c0 .51%, #c2c0c0 86.81%);
    --lecoder-gradient-purple: linear-gradient(20deg, #c2c0c0 0%, #c2c0c0 100%);
}


:root:has(#dark:checked) {
    --lecoder-purple: black;
    --lecoder-gold: white;
    --lecoder-light-purple: #808080;
    --lecoder-light-gold: black;
    --lecoder-header-color: rgb(255, 255, 255);
    --lecoder-gradient-gold: linear-gradient(160deg, #424549, #424549);
    --lecoder-gradient-purple: linear-gradient(20deg, #424549, #424549);
}

:root:has(#christmas:checked) {
    --lecoder-purple:#960606;
    --lecoder-gold: #960606;
    --lecoder-light-purple: #3e8f0f;
    --lecoder-light-gold: #ffdbdb;
    --lecoder-header-color: white;
    --lecoder-gradient-gold: linear-gradient(160deg, #f7a3a3  9.51%, #f7a3a3 86.81%);
    --lecoder-gradient-purple: linear-gradient(20deg, #f7a3a3 0%, #f7a3a3 100%);
}

:root:has(#triton:checked) {
    --lecoder-purple: #182B49;
    --lecoder-gold: #FFCD00;
    --lecoder-light-purple: #182B49;
    --lecoder-light-gold: #182B49;
    --lecoder-header-color: white;
    --lecoder-gradient-gold: linear-gradient(160deg, #00629B  9.51%, #00629B.81%);
    --lecoder-gradient-purple: linear-gradient(20deg, #00629B 0%, #00629B 100%);
}

:root:has(#triton:checked) #themeSwitcher fieldset {
    background-color: #00629B;
}

:root:has(#triton:checked) #openModal .union-wrapper:hover {
    background-color: #00629B;
}

:root:has(#triton:checked) .to-do-list .union-wrapper:hover {
    background-color: #00629B;
}

:root:has(#triton:checked) .add-log-btn:hover, .add-log-btn:focus {
    background-color: #00629B;
}

:root:has(#dark:checked) #calendar-details {
    background-color: var(--lecoder-light-purple);
}

:root:has(#dark:checked) .editFile:hover {
    color: black;
}

:root:has(#dark:checked) #fileSelect {
    color: black;
}

:root:has(#dark:checked) .fileSelect:hover {
    color: black;
}

:root:has(#dark:checked) #calendar td:hover {
    border-radius: 106px;
    background: var(--lecoder-light-purple);
    color: var(--lecoder-gold, white);
  }

  :root:has(#dark:checked) .calendar-cell.selected-date{
    border-radius: 106px;
    background: var(--lecoder-light-purple);
    color: var(--lecoder-purple, white);
  }

  :root:has(#light:checked) .to-do-list .text-wrapper,
  .to-do-list .date-wrapper {
    color: black;
  }

  :root:has(#light:checked) button.frame {
    background-color: var(--lecoder-gold);
  }

  :root:has(#dark:checked) .to-do-list .text-wrapper,
  .to-do-list .date-wrapper {
    color: var(--lecoder-header-color, black);
  }

  :root:has(#laker:checked) .calendar-cell.selected-date{
    border-radius: 106px;
    background: var(--lecoder-purple);
    color: var(--lecoder-light-purple, white);
  }

  :root:has(#laker:checked) .editFile {
    background-color: var(--lecoder-header-color);
  }

  :root:has(#laker:checked) .editFile:hover {
    color: var(--lecoder-gold);
  }

  :root:has(#christmas:checked) .calendar-cell.selected-date{
    border-radius: 106px;
    background: var(--lecoder-light-purple);
    color: var(--lecoder-purple, white);
  }

  :root:has(#triton:checked) .calendar-cell.selected-date{
    border-radius: 106px;
    background: var(--lecoder-header-color);
    color: var(--lecoder-purple, white);
  }

  :root:has(#triton:checked) .calendar-cell.selected-date{
    border-radius: 106px;
    background: var(--lecoder-gold);
    color: var(--lecoder-gradient-gold, white);
  }

  :root:has(#triton:checked) .union-wrapper:hover{
    background-color: #00629B;
  }

  :root:has(#christmas:checked) .calendar-cell.selected-date{
    border-radius: 106px;
    background: var(--lecoder-gold);
    color: var(--lecoder-light-gold, white);
  }

@media (max-width: 978px) {

    html, body {
        overflow: hidden;
    }

    .sidebar {
        min-width: 0px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sideButton {
        min-width: 0px;
        box-sizing: none;
    }

    .sidebar a span{
        display: none;
    }

    #themeSwitcher {
        display: none;
    }
    
        
 }

    @media (max-height: 768px) {
        html, body {
            overflow: hidden;
        }
    
        .sidebar {
            min-width: 0px; 
            text-transform: hidden;
            box-sizing: none;
        }
    
        .sideButton {
            min-width: 0px;
        }
            
        }
