  .add-list .overlap-group {
    position: absolute;
    width: 100%;
    height: 34%;
    background: linear-gradient(143deg, rgba(253, 185, 39, 0.60) 57.32%, #FDB927 78.49%);
  }

  .add-list .text-wrapper {
    width: 500px;
    height: 40px;
    padding: 8px;
    margin: 10px 23px;
    top: 2px;
    left: 3px;
    border-radius: 3px;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 18px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
  }
  
  
  .add-list .frame {
    background-color: #552583;
    color: #fff;
    border: none;
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    padding: 8px; /* Keep the padding consistent */
    font-size: 16px; /* Adjust the font size as needed */
    width: 90px;
    height: 50px;
  }
  
  .add-list .div-wrapper {
    border-color: #552583;
    border: none;
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 120px; /* Adjust the distance from the right */
    padding: 8px; /* Keep the padding consistent */
    font-size: 16px; /* Adjust the font size as needed */
    width: 95px;
    height: 50px;

  }
  
  .add-list .text-wrapper:hover {
    border-color: #a3a3a3;
  }
  
  .add-list .text-wrapper:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
  }
  
  .add-list .frame, .add-list .div-wrapper {
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Segoe UI-Bold", Helvetica;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .add-list .frame:hover {
    background-color: lightblue;
    color: #552583;
  } 
  
  
  .add-list .div-wrapper:hover {
    background-color: #6a3982;
    color: whitesmoke;
  }
  
  .add-list .frame:active {
    transform: translateY(2px);
  }
  
  .add-list .div-wrapper:active {
    transform: translateY(2px);
  }

  /* General styles for interactive elements */
.add-list button, .add-list input[type="text"], .add-list input[type="checkbox"] {
    border-radius: 3px;
    font-family: "Segoe UI", Arial, sans-serif;
  }
  
  