html, body {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.to-do-list .div {
  overflow: hidden;
  width: 100%; 
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
  margin-right: auto; 
  margin-left: auto;
}

.tasks-container {
  position: relative;  
  padding: 10px;  
  min-height: 100%;  
  overflow-y: auto;
}

.to-do-list .overlap {
  position: relative;
  width: calc(100% - 20%);  /* 90% of the parent container */
  height: 63px;
  top: 100px;
  left: 5%;  /* adjust left as percentage for better responsiveness */
  background: linear-gradient(-143deg, rgba(253, 185, 39, 0.60) 57.32%, #FDB927 78.49%);
  border-radius: 5px;
  margin-top: 5px;
}

.to-do-list .text-wrapper {
  cursor: pointer;
  position: absolute;
  left: 70px;  /* Starting point of the text inside .overlap */
  right: 60px; /* Right padding to leave space for delete button or other elements */
  top: 30%;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #552583;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides text that overflows */
  text-overflow: ellipsis; 
}

.rectangle-checkbox {
  position: absolute;
  left: 20px;  /* Starting point of the text inside .overlap */ 
  top: 35%;
  transform: scale(1.5);  /* Scale the checkbox to 150% of its original size */
  transform-origin: center center; /* Ensures the scaling is centered */
  cursor: pointer; 
}

.delete-btn {
  position: absolute;
  right: 15px; /* Adjust as necessary to position correctly within the task bar */
  top: 50%; /* Center vertically within the task bar */
  transform: translateY(-50%); /* Ensure it's centered no matter the height */
  background: none; /* Remove any background */
  border: none; /* Remove borders */
  color: red;
  cursor: pointer;
  font-size: 24px; /* Adjust size as necessary */
  padding: 0; /* Remove padding */
}

.delete-btn:hover {
  background-color: darkred;
}

/* Plus button (add task-list) positioning at the bottom right of the screen*/
.to-do-list .union-wrapper {
  position: fixed;
  width: 69px;
  height: 69px;
  bottom: 20px;  /* Set distance from bottom */
  right: 20px;   /* Set distance from right */
  background-color: var(--variable-collection-laker-purple);
  border-radius: 34.5px;
  box-shadow: 2px 2px 15px #0000004c;
  transform: translate(0, 0);  /* Adjust transform if necessary, or remove it if not needed */
}

.union-wrapper:hover {
  background-color: rgb(88, 101, 174);
}

.to-do-list .union {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 18.5px; /* Half of (69px - 32px) to center vertically */
  left: 18.5px; /* Half of (69px - 32px) to center horizontally */
}

.button-style {
  background: grey;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-style:focus {
  outline: none;  /* Removes the focus outline to keep the style clean */
}

.button-style:hover {
  background-color: #ececec;  /* Light grey background on hover */
}

.rectangle-checkbox:checked + .text-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  top: 60%;
  left:0;
  transform: translateY(-50%);
  z-index: 1;

}


.rectangle-checkbox:checked + .text-wrapper {
  filter: blur(0.5px);
  color: #bbb; 
}

/* Styles for modal and modal content */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  height: 40%;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}





