@import url(main.css);

:root {
  --f-6f-6f-6: rgba(246, 246, 246, 1);
  --ffbb-91: rgba(255, 187, 145, 1);
  --ff-8e-6e: rgba(255, 142, 110, 1);
  --x-515070: rgba(81, 80, 112, 1);
  --variable-collection-laker-purple: rgba(85, 37, 131, 1);
}

#taskListButton{
  background: var(
    --Linear-Laker-Gold,
    linear-gradient(160deg, rgba(253, 185, 39, 0.6) 9.51%, #fdb927 86.81%)
  );
}

.to-do-list{
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

html, body {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.to-do-list .div {
  width: 100%; 
  position: relative;
  margin-bottom: 20px;
  margin-right: auto; 
  margin-left: auto;
  overflow: visible;
}

.to-do-list .div-add {
  width: 100%; 
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
  margin-right: auto; 
  margin-left: auto;
  overflow: visible;
}

.tasks-container {
  position: relative;  
  padding: 10px;  
  min-height: 100%;  
}

.to-do-list .overlap {
  position: relative;
  width: calc(100% - 15%);  /* 90% of the parent container */
  height: 63px;
  top: 10px;
  left: 5%;  /* adjust left as percentage for better responsiveness */
  background: var(--lecoder-gradient-purple), linear-gradient(160deg, rgba(253, 185, 39, 0.60) 9.51%, #FDB927 86.81%);
  border-radius: 5px;
  margin-top: 1%;
}

.to-do-list .text-wrapper {
  cursor: pointer;
  position: absolute;
  left: 70px;  /* Starting point of the text inside .overlap */
  right: 60px; /* Right padding to leave space for delete button or other elements */
  top: 30%;
  font-family: 'Karla_regular';
  font-weight: 700;
  color: var(--lecoder-header-color, purple);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides text that overflows */
  text-overflow: ellipsis; 
}

.rectangle-checkbox {
  position: absolute;
  left: 20px;  /* Starting point of the text inside .overlap */ 
  top: 35%;
  transform: scale(1.5);  /* Scale the checkbox to 150% of its original size */
  transform-origin: center center; /* Ensures the scaling is centered */
  cursor: pointer; 
}

/*delete button on the task-list*/
.delete-btn {
  position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
  bottom: 6px; /* Aligns the button to the bottom */
  right: 7px; /* Aligns the button to the left */
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.delete-btn img:hover {
  filter:brightness(3);
}

/*edit button on the task-list*/
.edit-btn {
  position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
  top: 6px; /* Aligns the button to the bottom */
  right: 4px; /* Aligns the button to the left */
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.edit-btn img:hover {
  filter:brightness(3); /* Inverts the colors of the image */
}

/* Plus button (add task-list) positioning at the bottom right of the screen*/
.to-do-list .union-wrapper {
  position: fixed;
  width: 69px;
  height: 69px;
  bottom: 20px;  /* Set distance from bottom */
  right: 20px;   /* Set distance from right */
  background-color: var(--lecoder-purple);
  border-radius: 34.5px;
  box-shadow: 2px 2px 15px #0000004c;
  transform: translate(0, 0);  /* Adjust transform if necessary, or remove it if not needed */
}

.union-wrapper:hover {
  background-color: var(--lecoder-light-purple);
}

.to-do-list .union {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 18.5px; /* Half of (69px - 32px) to center vertically */
  left: 18.5px; /* Half of (69px - 32px) to center horizontally */
}

.button-style {
  background: grey;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-style:focus {
  outline: none;  /* Removes the focus outline to keep the style clean */
}

.button-style:hover {
  background-color: var(--lecoder-purple);  /* Light grey background on hover */
}

/* Adding strike-through effect */
.text-wrapper{
  position: relative;
  transition: color 0.4s;
}

.text-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1.5px solid var(--lecoder-purple, purple); /* Color of the strike-through line */
  transform: scale(0);
  transform-origin: left center;
  transition: transform 0.4s;
}


.rectangle-checkbox:checked + .text-wrapper::after{
  transform: scale(1);
}

.text-wrapper:hover {
  color: #888; /* Optional: change text color on hover */
}

.blur-effect {
  filter: blur(1px);
  transition: filter 0.3s ease;
}

.rectangle-checkbox:checked + .text-wrapper {
  filter: blur(0.5px);
  color: #bbb; 
}

/* Styles for modal and modal content */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: 40%;
  border-radius: 10px;
  position: relative;
}

.close {
  color: var(--variable-collection-laker-purple); /* Ensures the color is correct */
  position: absolute;
  top: 20px;  /* Adjusted for clear visibility */
  right: 25px;
  font-size: 28px; /* Makes it larger and more visible */
  cursor: pointer;
  z-index: 1050;  /* Higher than the modal-content to ensure it's on top */
  background-color: transparent;  /* Ensures no background interference */
  border: none; /* Removes any default border */
  outline: none; /* Removes focus outline for aesthetics */
}


.add-list .overlap-group {
  position: absolute;
  width: 100%;
  height: 34%;
  background: var(--lecoder-gradient-purple), linear-gradient(160deg, rgba(253, 185, 39, 0.60) 9.51%, #FDB927 86.81%);
}

.add-list .text-wrapper {
  width: 85%;
  height: 40px;
  padding: 8px;
  margin: 10px 23px;
  top: 2px;
  left: 1px;
  border-radius: 3px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 18px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  color: var(--lecoder-purple, purple);
}

.add-list .date-wrapper {
  width: 50%;
  height: 30px;
  padding: 8px;
  margin: 10px 23px;
  top: 50px;
  left: 1px;
  border-radius: 3px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 18px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  color: var(--lecoder-purple, purple);
}


.add-list .frame {
  background-color: var(--lecoder-purple);
  color: #fff;
  border: none;
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  padding: 8px; /* Keep the padding consistent */
  font-size: 16px; /* Adjust the font size as needed */
  width: 90px;
  height: 50px;
}

.add-list .div-wrapper {
  border-color: var(--lecoder-purple,purple);
  border: none;
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 120px; /* Adjust the distance from the right */
  padding: 8px; /* Keep the padding consistent */
  font-size: 16px; /* Adjust the font size as needed */
  width: 95px;
  height: 50px;

}

.add-list .text-wrapper:hover {
  border-color: #a3a3a3;
}

.add-list .text-wrapper:focus {
  border-color: #555;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

.add-list .frame, .add-list .div-wrapper {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.add-list .frame:hover {
  background-color: lightblue;
  color: #552583;
} 


.add-list .div-wrapper:hover {
  background-color: var(--lecoder-purple, purple);
  color: whitesmoke;
}

.add-list .frame:active {
  transform: translateY(2px);
}

.add-list .div-wrapper:active {
  transform: translateY(2px);
}

/* General styles for interactive elements */
.add-list button, .add-list input[type="text"], .add-list input[type="checkbox"] {
  border-radius: 3px;
  font-family: "Segoe UI", Arial, sans-serif;
}

@media (max-width: 978px) {
  .sidebar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: auto;
      min-height: 50px; /* Ensure minimum height to fit icons */
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: var(--lecoder-purple, purple);
      z-index: 1000;
      padding: 0.5rem 0; /* Add some padding for better appearance */
  }

  .to-do-list .union-wrapper {
    bottom: 80px; /* Ensure the button is above the sidebar */
  }

  .to-do-list {
    padding-bottom: 60px;
  }

  header {
    display: block;
  }

  header img {
    display: none;
  }

  html {
    overflow-y: auto;
  }
}

/*edit-list html style*/

.edit-list .overlap-group1 {
  position: absolute;
  width: 95%;
  height: 85%;
  background: linear-gradient(143deg, rgba(253, 185, 39, 0.60) 57.32%, #FDB927 78.49%);
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}

.edit-list .text-wrapper1 {
  width: 85%;
  height: 40px;
  padding: 8px;
  margin: 10px 23px;
  top: 2px;
  border-radius: 3px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 18px;
  font-weight: bold;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  color: var(--lecoder-purple, purple);
}

.edit-list .date-wrapper1 {
  width: 40%;
  height: 30px;
  padding: 8px;
  margin: 10px 23px;
  border-radius: 3px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 18px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  color: var(--lecoder-purple, purple);
  position: absolute;
  top: 48px;
  left: 0px;
}


.edit-list .frame1 {
  background-color: var(--lecoder-purple,purple);
  color: #fff;
  border: none;
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  padding: 8px; /* Keep the padding consistent */
  font-size: 16px; /* Adjust the font size as needed */
  width: 90px;
  height: 50px;
}

.edit-list .div-wrapper1 {
  border-color: var(--lecoder-purple,purple);
  border: none;
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 120px; /* Adjust the distance from the right */
  padding: 8px; /* Keep the padding consistent */
  font-size: 16px; /* Adjust the font size as needed */
  width: 95px;
  height: 50px;
}

.edit-list .text-wrapper1:hover {
  border-color: #a3a3a3;
}

.edit-list .text-wrapper1:focus {
  border-color: #555;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

.edit-list .frame1, .edit-list .div-wrapper1 {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.edit-list .frame1:hover {
  background-color: lightblue;
  color: var(--lecoder-purple,purple);
} 


.edit-list .div-wrapper1:hover {
  background-color: var(--lecoder-purple);
  color: whitesmoke;
}

.edit-list .frame1:active {
  transform: translateY(2px);
}

.edit-list .div-wrapper1:active {
  transform: translateY(2px);
}

/* General styles for interactive elements */
.edit-list button, .edit-list input[type="text"], .edit-list input[type="checkbox"] {
  border-radius: 3px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.to-do-list .text-wrapper,
.to-do-list .date-wrapper {
  font-family: 'Karla_regular';
  color: var(--lecoder-light-purple,purple);
}

.date-wrapper {
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 70px;
  bottom: 10px;
}

.text-wrapper {
  font-size: 18px;
  position: absolute;
  left: 70px;
  top: 10px;
}

.text-wrapper::placeholder, .date-wrapper::placeholder {
  color: var(--lecoder-purple, purple); /* Using the variable for your custom purple color */
  opacity: 0.8; /* Ensures the color isn't faded */
}





